@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

.body{
	padding: 0%;
	background-image:url('../images/bg3.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	
}
#loader{
	width: 100%;
	height: 100%;
	background: #800000 url(../images/Gear.gif) no-repeat center;
	position: fixed;
	z-index: 100;
}
.html,.body{
     width:100%;
     height:100%;
     margin:0;
     padding:0;
     overflow-x:hidden;
	 margin-bottom: 0;
	 margin-right: 0rem;
	 background-image:url('../images/bg3.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	 
}

#container-fluid {
    height: auto;
    width: auto;
    margin: auto;
    position:relative;
    top: 60rem;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}
#main{
	background:url(./images/bg3.jpg)no-repeat;
 	 background-size: cover;
  	background-position: center;
	text-align: center;	
}
/*#preloader{
	background:#0f0f0f url(../images/preloader.gif) no-repeat center;
	background-size: 25%;
	height: 100%;
	width:100%;
	position: fixed;
	z-index: 100;

}
header{
	height: auto;
	background-color: black;
	padding: 10px 5px;
}
.menu-wrap{
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}*/
#fal.fal{
	font-size: 200%;
}
.fa-bars{
	height: 50px;
	font-size: 2.5em;
	color: rgb(248, 246, 246);
}
.fa-laptop-code{
	height: 30px;
	font-size: 2.0em;
	color: rgb(253, 44, 44);
}
.menu-icon{
	font-size: 2.4em;
	color: white;
	line-height: 40px;
}



#checkbox{
	display: none;
}
#checkbox:checked ~ nav ul{
	max-height: 100%;
	padding: 15px 0;
	transition: all 0.5s;
}
.main h4{
	text-align:center;
	font-size:4.0rem;
	color:#ffdead;
	font-family:cursive;
}

.main h5{
	font-size:1.4rem;
	text-transform:uppercase;
	text-align:center;
	text-decoration: underline;
	/*line-height:1;
	border-bottom:2px solid rgb(233,10,109);*/
	width:auto;
	color:#ff9900;
}
.wave {
	animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s;        /* Change to speed up or slow down */
	animation-iteration-count: infinite;  /* Never stop waving :) */
	transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
	display: inline-block;
  }
  
  @keyframes wave-animation {
	  0% { transform: rotate( 0.0deg) }
	 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
	 20% { transform: rotate(-8.0deg) }
	 30% { transform: rotate(14.0deg) }
	 40% { transform: rotate(-4.0deg) }
	 50% { transform: rotate(10.0deg) }
	 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
	100% { transform: rotate( 0.0deg) }
  }
  
.main h6{
	font-size:1.0rem;
	text-align:center;
	text-transform:uppercase;
	width:auto;
	color:blue;
}

.name{
	color: rgb(10, 194, 250);
}


p,h1,h2,h3,h5,h6,i{
	color: rgb(248, 248, 248);
}


@media only screen and (max-width: 768px) {
	.body {
	  background-color: rgb(168, 186, 192);
	}
  }
.about{
	background-image:url('../images/bg3.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	height: 100%;
	margin:auto;
	text-align:center;
}
.about h1{
	font-size:4.4rem;
	color:black;
}
.about img{
	width: auto;
	height: auto;
	border-radius: 50%;
	background-color: #800000;
	-webkit-box-shadow:6px 4px 29px -14px rgba(0,0,0,0.75);
	-moz-box-shadow:6px 4px 29px -14px rgba(0,0,0,0.75);
	box-shadow:6px 4px 29px -14px rgba(0,0,0,0.75);
}
.about p{
	font-size:1.25rem;
	color: #fff;
}

.experience{
	background-image:url('../images/bg3.jpg');background-repeat:no-repeat;
	background-size: cover;
	margin:0;
	text-align:center;
	width: 100%;
	height: 100%;
}
.skills{
	background-color:#4169E1;
	margin-bottom:10px;
	margin-left:10px;
	border-radius:0;
	box-shadow:5px 5px 15px #e74c;
	transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
}
.skills:hover{
	background-color:black;
	transition:0.5s;
	
	color:#fff;
	border-radius:5px;
	border:none;
	box-shadow:5px,5px,10px,#9E9E9E;
}
.skills .fab{
  padding: 0px;
  font-size: 20px;
  height:20px;
  width: 100%;
  text-align: left;
  text-decoration: none;
  margin: 5px 3px;
}
.skills .fas{
  padding: 0px;
  font-size: 20px;
  height:20px;
  width: 100%;
  text-align: left;
  text-decoration: none;
  margin: 5px 3px;
}

.btn{
	background-color: #4169E1;
	
	height:60px;
	width:140px;

}
.btn:hover{
	background-color:transparent;
	color:black;
	border:1px solid black;
	transition:0.5s;
}
.btn1{
		height:10px;
		width:100px;
		outline:none;
		border:none;
		background-color:black;
		color:white;
		border-radius:4px;
}
.btn1:hover{
	background-color:transparent;
	color:black;
	border:1px solid black;
	transition:0.5s;
}
.education{
	background-image:url('../images/bg3.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	margin:auto;
	text-align:center;
	
}
.education img{
	align-items:center;
	-webkit-box-shadow:6px 4px 29px -14px rgba(0,0,0,0.75);
	-moz-box-shadow:6px 4px 29px -14px rgba(0,0,0,0.75);
	box-shadow:6px 4px 29px -14px rgba(0,0,0,0.75);
}
.right {
  position: absolute;
  right: 0px;
  width: 100%;
  padding: 10px;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}
.skill{
	background-image:url('../images/bg3.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	height: 100%;
	margin:auto;
	text-align:center;
}
.project{
	background-image:url('../images/bg3.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	margin:auto;
	text-align:center;
	width: 100%;
}
.column {
		float: left;
		width: 25%;
		padding: 0 10px;
	  
}
.row {
	margin: 0;
}
.row:after {
	content: "";
	display: table;
	clear: both;
  }
  
@media screen and (max-width: 738px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
}

.card{
	background: linear-gradient(120deg, #ff0606, #990202) !important;
	/*background-color: #be0404 !important;*/
	opacity: 100%;
	margin-bottom:10px;
	margin-left:10px;
	border-radius:0;
	box-shadow:5px 5px 15px #e74c;
	transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	width:25rem;
}
.card h5{
	color:#f5eeee;
}
.card p{
	color: #fffbfb;
}
.card:hover{
	background-color:#800000 !important;
	transition:0.5s;
	transform: scale(1.1);

	border-radius:5px;
	border:none;
	box-shadow:5px,5px,10px,#f3b0b0;
}
.card:hover h5{
	color:blue;
}
.contact{
	background-image:url('../images/bg3.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	margin:auto;
}


.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 20px;
    border-radius: 50%;
    background: linear-gradient(150deg, #f32f2f, #be0404);
    box-shadow: 20px 20px 60px #f36c6c, -20px -20px 60px #ce7373
}

.neo-button:active {
    border-radius: 50%;
    background: linear-gradient(150deg, #d6d6d6, #ffffff);
    box-shadow: inset 20px 20px 60px #cacaca, inset -20px -20px 60px #ffffff
}
.card-body .fa-github {
  color: rgb(248, 248, 248)!important;
  font-size: 24px;
}
.card-body .fa-share-square{
 color: rgb(22, 21, 21);
}
.card-body .fa-download{
	color: rgb(22, 21, 21);
}



.bounce {
	display: inline-block;
	position: relative;
	-moz-animation: bounce 0.5s infinite linear;
	-o-animation: bounce 0.5s infinite linear;
	-webkit-animation: bounce 0.5s infinite linear;
	animation: bounce 0.5s infinite linear;
  }
  @-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
.contact .fab {
	padding: 10px;
	font-size: 30px;
	height:55px;
	width: 60px;
	text-align: center;
	text-decoration: none;
	margin: 5px 3px;
	border-radius: 50%;
  }
  .fa {
	  padding: 10px;
	  font-size: 30px;
	  height:55px;
	  width: 60px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 3px;
	  border-radius: 50%;
  }
  .fa-twitter{
	  background: #800000;
		color: rgb(100, 128, 248);
  }
  .fa-facebook-f{
	  background: #800000;
		color: rgb(23, 23, 243);
  }
  .fa-angle-up{
	  color: rgb(245, 240, 240);
	   font-size:20px;
	   padding: 15px;
	   margin:0;
  }
  .fa-arrow-circle-up{
	   color: rgb(245, 240, 240);
	   font-size:30px;
	   padding: 0;
  }
  .fa-youtube{
	  background:#800000;
	   color: rgb(245, 240, 240);
  }
  .fa-google{
	  background:#be0404;
		color: rgb(245, 240, 240);
  }
  .fa-linkedin {
   background: #800000;
	color: rgb(10, 26, 247);
  }
  .fa-github {
	  background-color:#0a0a0a;
	color: rgb(243, 242, 242);
  }
  .contact .fa-github {
	  background-color:#800000;
	color: rgb(126, 122, 122);
  }
  .fa-hackerrank {
   background: #800000;
	color: white;
  }
  .iconify{
	padding: 10px;
	font-size: 20px;
	height:55px;
	width: 60px;
	text-align: center;
	text-decoration: none;
	margin: 5px 3px;
	background:#800000;
	color: white;
	border-radius: 50%;
  }
  .contact-form i.fa{
	font-size:22px;
	padding:3%;
	margin:2%;
	border:1px solid rgb(190,190,190);
	cursor:pointer;
	
}
input{
	padding:10px;
	margin:10px;
	width:70%;
	background-color:rgb(133,133,133,0.5);
	color:#fff;
}
input::placeholder{
	color:white;
}
textarea{
	padding:10px;
	margin:10px;
	width:70%;
	background-color:rgb(133,133,133,0.5);
	color:#fff;
}
textarea::placeholder{
	color:white;
}
.submit{
	background-color:black;
	padding:4px;
	font-size:13px;
	font-weight:bold;
	letter-spacing:2px;
	margin-left:3%;
	text-align:center;
	cursor:pointer;
	color:#fff;
	border:#000;
}

@media only screen and (max-width: 768px) { 
	.main .about .experience .education .project .contact {
		width: 100%;
		height: 100%;
		text-align:center;
		display:block;
		font-size: medium;
	}
        
}
@media only screen and (min-width: 200px) { 
	.html .experience .education .project .contact {
		width: 100%;
		height: 100;
		text-align:center;
		display:block;
	}
        
}