@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
:root {
  --dark-red: #aa0000;
  --light-red: #fa0808;
  --lighter-red: #ee0001;
  --black: #000;
  --aqua: #00ffff;
  --white: #fff;
  --brown: #be0404;
  --skin: #ffdead;
  --blue: #0000ff;
  --capri: #00bfff;
  --grey: #a8bac0;
  --skyblue: #0ac2fa;
  --lightwhite: #f8f8f8;
  --navy: #001f3f;
  --gold: #ffd700;
  --lime: #01ff70;
  --voilet: #7f00ff;
  --purple: #b10dc9;
  --yellow: #ffdc00;
  --blueberry: #6480f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0%;
  /* background-image: url("../images/bg3.jpg"); */
  background-color: var(--navy) !important;
  background-repeat: no-repeat;
  background-size: cover;
}
#loader {
  background: var(--navy) center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 25%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#loader span {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  animation: moveup 0.6s linear infinite alternate;
  background: var(--gold);
}

@keyframes moveup {
  100% {
    transform: translateY(-25px);
  }
}
#loader span:nth-child(2) {
  animation-delay: 0.25s;
}
#loader span:nth-child(3) {
  animation-delay: 0.5s;
}


.html,
.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin-bottom: 0;
  margin-right: 0rem;
  /* background-image: url("../images/bg3.jpg"); */
  background-color: var(--dark-red);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-primary {
  animation-name: moveInleft;
  animation-duration: 13s;
  
}
.name{
  color:var(--gold) !important;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  50% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

#container-fluid {
  height: auto;
  width: auto;
  margin: auto;
  position: relative;
  top: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
#main {
  /* background: url(./images/bg3.jpg) no-repeat; */
  background-color: var(--navy);
  background-size: cover;
  background-position: center;
  text-align: center;
}
/*Navigation */
.navbar-nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-link {
  font-family: cursive;
  padding: 5px 15px;
  text-decoration: none;
  font-size: medium;
  position: relative;
  color: var(--lightwhite) !important;
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--gold);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

#fal.fal {
  font-size: 200%;
}
.fa-bars {
  height: 50px;
  font-size: 2.5em;
  color: var(--white);
}
.fa-laptop-code {
  height: 20px;
  font-size: 2em;
  color: var(--gold);
}

.menu-icon {
  font-size: 2.4em;
  color: var(--white);
  line-height: 40px;
}

#checkbox {
  display: none;
}
#checkbox:checked ~ nav ul {
  max-height: 100%;
  padding: 15px 0;
  transition: all 0.5s;
}
.main h4 {
  text-align: center;
  font-size: 4rem;
  color: var(--skin);
  font-family: cursive;
}

.main h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  width: auto;
  color: var(--white) !important;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.main h6 {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  color: var(--blue);
}

.name {
  color: var(--skyblue);
}

p,
h1,
h2,
h3,
h5,
h6,
i {
  color: var(--gold);
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .body {
    background-color: var(--grey);
  }
}
.about {
  /* background-image: url("../images/bg3.jpg"); */
  background-color: var(--navy);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: auto;
  text-align: center;
}
.span-name {
  color: var(--gold);
}
.about h1 {
  font-size: 4.4rem;
  color: var(--black);
}
.about img {
  width: auto;
  height: auto;
  border-radius: 50%;
  background-color: var(--blueberry);
  -webkit-box-shadow: 0 0 5px 6px var(--gold);
  -moz-box-shadow: 0 0 5px 6px var(--gold);
  box-shadow: 0 0 5px 6px var(--gold);
}
.about p {
  font-size: 1.25rem;
  color: var(--lightwhite);
}

.experience {
  /* background-image: url("../images/bg3.jpg"); */
  background-color: var(--navy);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
.edu-logo {
  border-radius: 50%;
}
.skills {
  background-color: #4169e1;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 0;
  box-shadow: 5px 5px 15px #e74c;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
.skills:hover {
  background-color: black;
  transition: 0.5s;

  color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 5px, 5px, 10px, #9e9e9e;
}
.skills .fab {
  padding: 0px;
  font-size: 20px;
  height: 20px;
  width: 100%;
  text-align: left;
  text-decoration: none;
  margin: 5px 3px;
}
.skills .fas {
  padding: 0px;
  font-size: 20px;
  height: 20px;
  width: 100%;
  text-align: left;
  text-decoration: none;
  margin: 5px 3px;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.resume-details .fa {
  padding: 0px;
  font-size: 20px;
  height: 20px;
  width: 20px;
  text-decoration: none;
  margin: 5px 3px;
  border-radius: 50%;
}

.resume-details a:link,
a:visited {
  background-color: var(--blueberry);
  color: white;
  padding: 14px 25px;
  text-align: center;
  border-radius: 18px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  /* -webkit-box-shadow: 0 0 5px 6px var(--gold);
  -moz-box-shadow: 0 0 5px 6px var(--gold); */
  /* box-shadow: 0 0 5px 6px var(--gold); */
}
.external-link-button i{
  color: var(--gold) !important;
}
.external-link-button {
  background: linear-gradient(to right, var(--navy) 50%, var(--blue) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  border:none;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 45px;
  -webkit-box-shadow: 0 0 5px 6px var(--gold);
  -moz-box-shadow: 0 0 5px 6px var(--gold);
  box-shadow: 3px 0 2px 2px var(--gold);
}
.external-link-button:hover{
  background-position: left bottom;
  color: var(--gold) !important;
  -webkit-box-shadow: 0 0 5px 6px var(--skyblue);
  -moz-box-shadow: 0 0 5px 6px var(--skyblue);
  box-shadow: 0 0 5px 6px var(--skyblue);
}

.resume-details a:hover,
a:active {
  background-color: var(--navy);
  -webkit-box-shadow: 0 0 5px 6px var(--capri);
  -moz-box-shadow: 0 0 5px 6px var(--capri);
  box-shadow: 0 0 5px 6px var(--capri);
}
.btn1 {
  height: 10px;
  width: 100px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
}
.btn1:hover {
  background-color: transparent;
  color: rgb(236, 231, 231);
  border: 1px solid black;
  transition: 0.5s;
}
.education {
  /* background-image: url("../images/bg3.jpg"); */
  background-color: var(--navy);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 0;
  text-align: center;
  height: 100%;
}
.right {
  position: absolute;
  right: 0px;
  width: 100%;
  padding: 10px;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
}
.skill {
  /* background-image: url("../images/bg3.jpg"); */
  background-color: var(--navy);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: auto;
  text-align: center;
}
.project {
  /*background-image: url("../images/bg3.jpg");*/
  background-color: var(--navy);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 738px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.horizon {
  width: 100%;
  margin: 0;
  padding: 0;
}
.main .card{
  background-color: var(--navy) !important;
  opacity: 100%;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px 5px var(--gold);
  -moz-box-shadow:  0 0 5px 5px var(--gold);
  box-shadow:  5px 2px 8px 2px var(--gold);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;

}
.experience .card,
.skill .card {
  /*background: linear-gradient(120deg, #ff0606, #990202) !important;*/
  background-color: var(--navy) !important;
  opacity: 100%;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px 6px var(--gold);
  -moz-box-shadow: 0 0 5px 6px var(--gold);
  box-shadow: 0 0 5px 6px var(--gold);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  width: 22rem;
}

.btn-sm {
  background: linear-gradient(150deg, #f32f2f, #be0404);
  width: 15%;
  margin: 1%;
  -webkit-box-shadow: 0 0 3px 3px #fa0808;
  -moz-box-shadow: 0 0 3px 3px #fa0808;
  box-shadow: 0 0 3px 3px #fa0808;
}
.btn .fa-star {
  color: var(--gold);
}
.education .card-img {
  height: 75%;
  width: 90%;
  background-color: #fa0808;
  align-items: center;
  border-radius: 10%;
}
.education .card {
  background-color: var(--navy);
  -webkit-box-shadow: 0 0 5px 10px var(--gold);
  -moz-box-shadow: 0 0 5px 10px var(--gold);
  box-shadow: 0 0 5px 10px var(--gold);
  margin-bottom: 5px;
  margin-right: 5px;
}

.skill .card-img-top,
.experience .card-img-top {
  width: 100%;
  height: 20%;
  object-fit: cover;
}

.skill .card:hover,
.experience .card:hover,
.main .card:hover {
  background-color: var(--blueberry) !important;
  /* transition: 0.5s;
  transform: scale(1.1); */
  color: var(--black) !important;
  border-radius: 5px;

  -webkit-box-shadow: 0 0 5px 6px var(--capri);
  -moz-box-shadow: 0 0 5px 6px var(--capri);
  box-shadow: 0 0 5px 6px var(--capri);
}
.card:hover h5 {
  color: #f5eeee;
}
.contact {
  /* background-image: url("../images/bg3.jpg"); */
  background-color: var(--navy);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.neo-button {
  width: 40px;
  height: 40px;
  outline: 0 !important;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  border: none;
  margin-right: 20px;
  border-radius: 50%;
  background: linear-gradient(150deg, var(--navy), var(--blue));
  box-shadow: 20px 20px 60px var(--skyblue), -20px -20px 60px var(--skyblue);
}

.neo-button:active {
  border-radius: 50%;
  background: linear-gradient(150deg, #d6d6d6, #ffffff);
  box-shadow: inset 20px 20px 60px #cacaca, inset -20px -20px 60px #ffffff;
}
.experience .card-body .fa-github {
  color: rgb(248, 248, 248) !important;
  font-size: 24px;
}
.experience .card-body .fa-share-square {
  color: rgb(22, 21, 21);
}
.experience .card-body .fa-download {
  color: rgb(22, 21, 21);
}
.experience .card-title {
  font-family: cursive;
}
.experience .card-text {
  font-family: cursive;
}
.cn {
  color: rgb(33, 18, 240);
}
.fn {
  color: rgb(104, 206, 236);
}
.vn {
  color: rgb(248, 128, 15);
}
.val {
  color: rgba(248, 124, 7, 0.692);
}
.main .card {
  width: 80%;
}
.edit .card-body {
  background-color: black;
}
.card-header-tabs .active {
  background-color: black !important;
}
.experience .card-subtitle {
  color: #00ff00 !important;
}
.experience .card-subtitle a {
  color: #00ff00 !important;
}
.box {
  -webkit-box-shadow: 0 0 5px 6px #800000;
  -moz-box-shadow: 0 0 5px 6px #800000;
  box-shadow: 0 0 5px 6px #800000 !important;
}
.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
}
@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}
.contact .fab {
  padding: 10px;
  font-size: 30px;
  height: 55px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
  border-radius: 50%;
}
.contact .fa {
  padding: 10px;
  font-size: 30px;
  height: 55px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
  border-radius: 50%;
}
.fork-button {
  background-color: #fff;
}
.fork-button .fa {
  margin: 0;
  font-size: 15px;
  text-align: center;
}
.icon-box{
  background: linear-gradient(to right, var(--blueberry) 50%, var(--navy) 50%) ;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  -webkit-box-shadow: 0 0 5px 6px var(--gold);
  -moz-box-shadow: 0 0 5px 6px var(--gold);
  box-shadow: 0 0 5px 6px var(--gold);
}
.icon-box:hover {
  background-position: left bottom;
}
.fa-x-twitter {
  color: rgb(243, 243, 245) !important;
}
.fa-x-twitter:hover {
  color: rgb(11, 11, 11);
}
.fa-facebook-f {
  color: rgb(23, 23, 243);
}
.fa-facebook-f:hover {
  color: rgb(100, 128, 248);
}
.fa-angle-up {
  color: rgb(245, 240, 240);
  font-size: 2px;
  padding: 1px;
  margin: 0;
}
.fa-arrow-circle-up {
  color: rgb(245, 240, 240);
  font-size: 2px;
  padding: 0;
}
.fa-youtube {
  color: rgb(245, 240, 240);
}
.fa-youtube:hover {
  color: rgb(100, 128, 248);
}
.fa-google {
  color: rgb(245, 7, 7);
}
.fa-google:hover {
  color: rgb(100, 128, 248);
}
.fa-linkedin {
  color: rgb(10, 26, 247);
}
.fa-linkedin:hover {
  color: rgb(244, 244, 246);
}
.contact .fa-github {
  color: rgb(18, 18, 18) !important;
}
.contact .fa-github:hover {
  color: rgb(239, 240, 245) !important;
}
.fa-hackerrank {
  color: white;
}
.fa-hackerrank:hover {
  color: rgb(240, 241, 246);
}
.iconify {
  padding: 10px;
  font-size: 20px;
  height: 55px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;
  background: #800000;
  color: white;
  border-radius: 50%;
}
.contact-form i.fa {
  font-size: 22px;
  padding: 3%;
  margin: 2%;
  border: 1px solid rgb(190, 190, 190);
  cursor: pointer;
}
.button {
  background-color: #f70808;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: auto;
  -webkit-box-shadow: 0 0 5px 6px #800000;
  -moz-box-shadow: 0 0 5px 6px #800000;
  box-shadow: 0 0 5px 6px #800000;
}
.button:hover {
  background-color: #800000;
  -webkit-box-shadow: 0 0 5px 6px #f70808;
  -moz-box-shadow: 0 0 5px 6px #f70808;
  box-shadow: 0 0 5px 6px #f70808;
}
@media only screen and (max-width: 768px) {
  .button {
    width: auto;
  }
}
.fa-android {
  color: #25f709;
}
input {
  padding: 10px;
  margin: 10px;
  width: 70%;
  background-color: rgb(133, 133, 133, 0.5);
  color: #fff;
}
input::placeholder {
  color: white;
}
textarea {
  padding: 10px;
  margin: 10px;
  width: 70%;
  background-color: rgb(133, 133, 133, 0.5);
  color: #fff;
}
textarea::placeholder {
  color: white;
}
.submit {
  background-color: black;
  padding: 4px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 3%;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: #000;
}

@media only screen and (max-width: 768px) {
  .main .about .experience .education .project .contact {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    font-size: medium;
  }
}
@media (min-width: 574px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}
.navbar {
  max-width: 100%;
}
@media only screen and (min-width: 200px) {
  .html .experience .education .project .contact {
    width: 100%;
    height: 100;
    text-align: center;
    display: block;
  }
}
.container-c {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.inside-box {
  /* flex: 1; Each box takes an equal amount of space */
  padding: 2px;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
}
.inside-box:first-child{
  justify-content: flex-start;
}
.inside-box:nth-child(2){
  flex: 2;
  justify-content: space-between;
}

.button-container{
  padding: 2%;
  margin:2%;
  
}

.project-button{
  padding: 1%;
  padding-top:1.5%;
  height: 50px;
  width: 50px;
  border-radius: 45px;
  border:1px solid #4481eb;
  text-decoration: none;
}
.project-button:hover{
  text-decoration: none;
  color: var(--navy);
  box-shadow:0 0 5px 5px var(--gold);
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}